**Read file with panda**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

**Data Formatting**

In [ ]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

**Panda Series:**
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [ ]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

In [ ]:
print(myvar[0])

In [ ]:
myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

In [ ]:
print(myvar["y"])

7